@font-face {
	font-family: 'HelveticaNeueCyrBold';
	src: url('fonts/helveticaneuecyrbold/helveticabold-webfont.eot');
	src: url('fonts/helveticaneuecyrbold/helveticabold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/helveticaneuecyrbold/helveticabold-webfont.woff2') format('woff2'),
		 url('fonts/helveticaneuecyrbold/helveticabold-webfont.woff') format('woff'),
		 url('fonts/helveticaneuecyrbold/helveticabold-webfont.ttf') format('truetype'),
		 url('fonts/helveticaneuecyrbold/helveticabold-webfont.svg#helveticaneuecyrbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyrRoman';
	src: url('fonts/helveticaneuecyrroman/helveticaregular-webfont.eot');
	src: url('fonts/helveticaneuecyrroman/helveticaregular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/helveticaneuecyrroman/helveticaregular-webfont.woff2') format('woff2'),
		 url('fonts/helveticaneuecyrroman/helveticaregular-webfont.woff') format('woff'),
		 url('fonts/helveticaneuecyrroman/helveticaregular-webfont.ttf') format('truetype'),
		 url('fonts/helveticaneuecyrroman/helveticaregular-webfont.svg#helveticaneuecyrroman') format('svg');
	font-weight: normal;
	font-style: normal;
}