.d-fl > *, .goods-count-value, input.goods-count-value[type="text"] {display: inline-block; vertical-align: top;}
.top-menu > li::after, .bottom-menu > li::after {margin-right: 18px;}
.good-wrap {
	margin-right: .5%;
	width: 278px;
}
.footer > div {margin-right: 3.5%;}
.footer > div:last-child {margin-right: 0;}
.color-selection > li {margin-right: 4.3%;}
input.goods-count-value[type="text"] {
	margin: 0 -4px;
	padding: 4px 0 5px 0;
}