html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, img, strong, sub, sup, b, ol, ul, li, form, label, table, tbody, thead, tr, th, td, article, aside, footer, header, nav, section, dl, dd, dt {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article, aside, footer, header, nav, section {display: block;}
body {
	background: #fff;
	color: #000;
	font-family: Arial, Helvetica, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
	min-width: 1280px;
	text-align: left;
}
address {
	display: inline;
	font-style: normal;
}
sup {
	line-height: 5px;
	vertical-align: super;
}
sub {
	line-height: 1px;
	vertical-align: sub;
}
h1, .h1 {
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 15px;
	padding-bottom: 4px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	border-bottom: 1px solid #e1dccf;
	color: #2a3642;
	font-weight: normal;
	margin-bottom: 10px;
}
h2, .h2 {
	font-size: 28px;
	line-height: 30px;
}
h3, .h3 {
	font-size: 28px;
	line-height: 30px;
}
h4, h5, h6, .h4, .h5, .h6 {
	font-size: 24px;
	line-height: 28px;
}
h2, .h2, h3, .h3, h4, h5, h6, .h4, .h5, .h6 {
	line-height: 30px;
	margin-bottom: 24px;
	margin-top: 15px;
	padding: 0 0 5px 0;
}
h4, .h4 {margin-bottom: 27px;}
h5, .h5 {margin-bottom: 13px;}
h6, .h6 {margin-bottom: 9px;}
.h1, .h2, .h3, .h4, .h5, .h6 {display: block;}
p {padding-bottom: 17px;}
ul, .ul-a, ol, .ol-a {
	list-style: none;
	margin: 0;
}
ul li, .ul-a li {list-style: none;}
ol {margin-bottom: 15px;}
ol li, .ol-a li {
	list-style: decimal outside none;
	margin-left: 25px;
}
a {
	color: #315275;
	cursor: pointer;
	text-decoration: underline;
}
.ul-a li a, .ol-a li a, a:hover, a:active {
	color: #315275;
	text-decoration: none;
}
:focus {outline: none;}
input::-moz-focus-inner, button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
img {
	max-width: 100%;
	vertical-align: top;
}
img, a img {border: none;}
.img {border: 1px solid #c8ced3;}
.img-l {
	float: left;
	margin-right: 10px;
}
.img-r {
	float: right;
	margin-left: 10px;
}
.img-l, .img-r {margin-bottom: 10px;}
.f-left {text-align: left;}
.f-right {text-align: right;}
.f-center {text-align: center;}
.f-justify {text-align: justify;}
.f-normal {font-weight: normal;}
.f-bold {font-weight: bold;}
.f-italic {font-style: italic;}
.f-underline {text-decoration: underline;}
.f-no-underline {text-decoration: none;}
.f-lowercase {text-transform: lowercase;}
.f-uppercase {text-transform: uppercase;}
.f-nowrap {white-space: nowrap;}
.f-s12 {font-size: 12px;}
.f-s14 {font-size: 14px;}
.f-s15 {font-size: 15px;}
.f-s16 {font-size: 16px;}
.f-s18 {font-size: 18px;}
.f-s20 {font-size: 20px;}
table, .table {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
td, .vertical-top {vertical-align: top;}
th, .table th, .vertical-middle {vertical-align: middle;}
.table {margin-bottom: 23px;}
.table th {
	background-color: #fdd92b;
	background-image: -webkit-linear-gradient(bottom, rgba(230, 180, 8, .47), rgba(255, 255, 255, 0));
	   background-image: -moz-linear-gradient(bottom, rgba(230, 180, 8, .47), rgba(255, 255, 255, 0));
	    background-image: -ms-linear-gradient(bottom, rgba(230, 180, 8, .47), rgba(255, 255, 255, 0));
	     background-image: -o-linear-gradient(bottom, rgba(230, 180, 8, .47), rgba(255, 255, 255, 0));
	        background-image: linear-gradient(to top, rgba(230, 180, 8, .47), rgba(255, 255, 255, 0));
	border-right: 1px solid #d7b303;
	color: #1e1e1e;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 4px 6px 4px;
	text-align: center;
}
.table th:last-of-type {border-right: none;}
.table tr td:first-of-type {border-left: 1px solid #e1dccf;}
.table td {
	border-bottom: 1px solid #e1dccf;
	border-right: 1px solid #e1dccf;
	padding: 8px;
}
.vertical-bottom {vertical-align: bottom;}
.clear-left {clear: left;}
.clear-right {clear: right;}
.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}
.clear-all, .clearfix::after {clear: both;}
.overflow-hidden {overflow: hidden;}
.g-left {float: left;}
.g-right {float: right;}
.d-b {display: block;}
.d-ib, .d-ib_li > li, .d-ib_div > div {display: inline-block;}
.d-fl {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.fl-between {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.fl-start {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.fl-end {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.h-hidden, .hide_element, .j-result, .desktop-hidden {display: none;}
.h-relative {position: relative;}
.h-full-width {width: 100%;}
.h-centered {
	margin-left: auto;
	margin-right: auto;
}
input[type="text"], textarea, select {
	background: #fff;
	border: 1px solid #e1dccf;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	box-sizing: border-box;
	color: #1e1e1e;
	display: block;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	outline: none;
	padding: 5px 2px 6px 7px;
	width: 100%;
}
textarea {
	overflow: auto;
	resize: vertical;
}
.form_el_invalid, input[type="text"].form_el_invalid, .wrapped_select, select.wrapped_select {border: 1px solid #f6d030 !important;}
::-webkit-input-placeholder       {color: #9a9fa4; opacity: 1; transition: opacity 0.6s ease;}
::-moz-placeholder                {color: #9a9fa4; opacity: 1; transition: opacity 0.6s ease;}
:-moz-placeholder                 {color: #9a9fa4; opacity: 1; transition: opacity 0.6s ease;}
:-ms-input-placeholder            {color: #9a9fa4; opacity: 1; transition: opacity 0.6s ease;}
:focus::-webkit-input-placeholder {opacity: 0;}
:focus::-moz-placeholder          {opacity: 0;}
:focus:-moz-placeholder           {opacity: 0;}
:focus:-ms-input-placeholder      {opacity: 0;}
.lightTip .content {
	background-color: #fff;
	border: 6px solid #f6d030;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	color: #000;
	padding: 9px 18px 10px 18px;
}
.lightTip .bottom {
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -14px;
	width: 29px;
	height: 14px;
	overflow: hidden;
}
.lightTip .bottom::after {
	content: '';
	position: absolute;
	bottom: 6px;
	left: -2px;
	width: 29px;
	height: 29px;
	background-color: #fff;
	border: 6px solid #f6d030;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.zoomToggle, .zoomDisabled {cursor: auto;}
.zoomToggleOn {cursor: url(../images/zoom_in.cur), pointer;}
.zoomToggleOff {cursor: url(../images/zoom_out.cur), pointer;}
.ul {margin-bottom: 15px;}
.ul > li {margin: 0 0 1px 15px;}
.ul > li:last-of-type {margin-bottom: 0;}
.ul > li::before {
	background-color: #d9b506;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	content: '';
	display: inline-block;
	height: 8px;
	margin-left: -15px;
	margin-right: 8px;
	width: 8px;
}