.section-intro {
  background: url('../images/mountain.jpg') no-repeat 50% 50%;
	background-size: cover;
	box-sizing: border-box;
	color: $c-intro-text;
	padding: 43px 98px 0 54px;
	position: relative;

	&::after {
		background-color: $c-intro-overlay;
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		min-height: 590px;
		position: relative;
		z-index: 1;
	}

	.content {
		max-width: 900px;
	}

	.call-to-action {
		margin-left: auto;
	}

	.button {
		background: url('../images/icon-arrow.png') no-repeat 38px 50% $c-intro-button-bg;
		bottom: 0;
		color: $c-intro-button-text;
		display: inline-block;
		font-size: 16px;
		font-weight: 800;
		padding: 22px 49px 22px 77px;
		text-decoration: none;
		transition: background-color $speed-button ease-in-out;

		&:hover {
			background-color: $c-intro-button-bg-active;
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;

	.contacts {
		text-align: right;
	}

	.phone {
		color: $c-header-phone;
		font-size: 17px;
		font-weight: 800;
		text-decoration: none;
		transition: color $speed-phone ease-in-out;

		&:hover {
			color: $c-header-phone-active;
		}
	}

	.phone-details {
		color: $c-header-phone-details;
		font-size: 11px;
		font-weight: 600;
		margin-top: 9px;
		text-transform: uppercase;
	}
}

.intro-text {
	font-weight: 800;
	margin-top: 35px;

	.company {
		color: $c-intro-company-text;
		font-size: 21px;
		letter-spacing: 1px;
	}

	.title {
		font-size: 56px;
		letter-spacing: .5px;
		line-height: 1.2;
		margin-bottom: 0;
		margin-top: 17px;
	}
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: .5px;
	list-style: none;
	margin: 45px 0 0 0;
	padding: 0;

	.advantage {
		border-bottom: 1px solid $c-advantages-border;
		box-sizing: border-box;
		margin-right: 4%;
		padding-bottom: 15px;
		padding-right: 4%;
		width: 21.5%;
	}
}
