.section-team {
	margin-bottom: 150px;

	.title {
		font-size: 48px;
		font-weight: 800;
		margin-bottom: 69px;
		margin-top: 70px;
		text-align: center;
	}

	.row {
		display: flex;
		margin-bottom: 53px;
	}

	.slider,
	.description {
		box-sizing: border-box;
		width: 50%;
	}

	.slider,
	.swiper-container {
		padding-left: 55px;
	}

	.swiper-container {
		margin: 0;
		max-width: 500px;
	}

	.slider-title {
		font-size: 18px;
		line-height: 1.5;
		letter-spacing: .5px;
		margin: 1px auto;
		max-width: 260px;
		padding: 0 100px 0 55px;
		text-align: center;

		strong {
			color: $c-slide-title-emphasizing;
			font-weight: 800;
		}
	}

	.slide-image {
		opacity: 0;
	}

	.slide-title {
		color: $c-slide-title;
		font-size: 11px;
		font-weight: 800;
		left: 100%;
		margin-left: -17px;
		margin-top: -4px;
		position: relative;
		text-transform: uppercase;
		transform: rotate(-90deg);
		transform-origin: 0 0;
		transition: opacity $speed-slide-title ease-in-out;
		opacity: 0;
	}

	.swiper-slide-active {
		.slide-image,
		.slide-title {
			opacity: 1;
		}
	}

	.swiper-pagination {
		bottom: auto;
		color: $c-slider-pagination;
		font-size: 11px;
		left: 0;
		letter-spacing: .7px;
		transform: rotate(-90deg);
		top: 15px;
		width: auto;
	}

	.swiper-pagination-current {
		font-weight: 800;
	}

	.swiper-button-prev,
	.swiper-button-next {
		background: $c-slider-controls-bg;
		height: 59px;
		left: auto;
		margin-top: 0;
		right: 43px;
		top: 0;
		width: 43px;

		&::after {
			background: url('../images/icon-arrow-slider.png') no-repeat 50% 50%;
			content: '';
			height: 11px;
			left: 50%;
			margin: -6px 0 0 -7px;
			position: absolute;
			top: 50%;
			width: 7px;
		}
	}

	.swiper-button-next {
		right: 0;

		&::after {
			transform: rotate(180deg);
		}
	}

	.description {
		align-self: center;
		flex-shrink: 0;
		font-weight: 300;
		font-size: 32px;
		letter-spacing: 1.5px;
		line-height: 1.3;
		margin-top: -68px;
		padding: 0 16% 0 8%;
		text-align: center;

		strong {
			color: $c-title-emphasizing;
			font-weight: normal;
			display: block;
		}
	}

	.row-secondary {
		.slider {
			padding-left: 0;
		}

		.slider-title {
			padding-left: 0;
			padding-right: 80px;
		}

		.description {
			padding-left: 12%;
			padding-right: 11%;
		}
	}
}
