@import url(/css/temp.css);

@font-face {
	font-family: 'icon_vibor';
	src:url('/css/fonts/icon_vibor.eot');
	src:url('/css/fonts/icon_vibor.eot') format('embedded-opentype'),
		url('/css/fonts/icon_vibor.woff') format('woff'),
		url('/css/fonts/icon_vibor.ttf') format('truetype'),
		url('/css/fonts/icon_vibor.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="i-"], [class*=" i-"] {position: relative;padding-left: 25px;}
[class^="i-"]:before, [class*=" i-"]:before,
[class^="i-"]:after, [class*=" i-"]:after {
	font-family: 'icon_vibor';
	font-style: normal;
	font-weight: normal;
	color:#45a0ca;
	position: absolute;
	left: 8px;
	top:-2px;
}
.i-border-color:before {	content: "\21";font-size:16px;}
.i-box:before {content: "\22";font-size:20px;}

.h-container{
	width: 940px;
	margin: 0 auto;
}
.h-container-main {min-height: 350px;margin-bottom: 60px;}
.h-header{
	padding-top: 10px;
}
.h-header-logo{
	color: #007db6;
	line-height: 15px;
	margin-right: 63px;
	text-align: center;
	width: 250px;
}
.h-header-info{
	float: right;
	margin-top: 11px;
	width: 23%;
}
.f-header-info-small{
	color: #7f8080;
    font-size: 12px;
    font-weight: bold;
}
.f-header-info-phone{
	color: #007db6;
    font-size: 24px;
    font-weight: bold;
}
.b-header-order_call, .b-header-email{
	background: url("../images/icon-header-phone.png") no-repeat 0 50% transparent;
    color: #969696;
    padding-left: 24px;
	text-decoration: underline;
	cursor: pointer;
}
.b-header-order_call:hover, .b-header-email:hover{
	text-decoration: none;
}
.b-header-email {background: url("../images/icon-header-mail.png") no-repeat 0 5px;}
.b-header-email a {color: #969696;}
.h-header-city {
	margin-top: 21px;
	overflow: hidden;
	text-align: right;
}
.f-header-city{
	color: #007db6;
    font-size: 25px;
    font-weight: bold;
}
.b-header-menu{
	margin: 12px 0 0;
}
.b-header-menu > li{
	list-style: none;
	margin-right: 7px;
}
.b-header-menu > li:last-child{
	margin-right: 0;
}
.b-header-menu > li > a{
	border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 10px;
	display: block;
}
.b-header-menu > li:last-child > a {padding: 6px 9px;}
.b-header-menu-active{
	background-color: #45a0ca;
    -moz-box-shadow: 0 2px #496978;
    -webkit-box-shadow: 0 2px #496978;
    box-shadow: 0 2px #496978;
    color: #fff;
    text-decoration: none;
}

.b-header_bottom{
	background-color: #45a0ca;
    -moz-box-shadow: 0 2px #496978;
    -webkit-box-shadow: 0 2px #496978;
    box-shadow: 0 2px #496978;
	border-radius: 4px;
	padding: 8px 14px 5px;
	position: relative;
	color: #fff;
    font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-header_bottom a{
	color: #fff;
}
.b-header_bottom-menu li{
    list-style: none;
	margin: 0 6px 7px 0;
	padding-right: 9px;
	border-right: 1px solid #328cb5;
}
.b-header_bottom-menu li:last-child{
	padding-right: 0;
	margin-right: 0;
	border-right: none;
}
.b-header_bottom-menu a:hover, a.b-header_bottom-menu-active {
    color: #144c68;
}
.h-contacts-header_bottom-menu li{
	margin-right: 11px;
	padding-right: 15px;
}
.b-contacts-header_bottom-menu-border{
	padding-left: 33px;
	margin-left: 20px;
	border-left: 4px solid #2e779c;
}

.b-footer-menu{
	margin: 10px 0 15px;
}
.b-footer-menu > li{
	list-style: none;
	margin-right: 35px;
    font-weight: bold;
}
.b-footer-menu > li:last-child{
	margin-right: 0;
}
.b-footer-menu-active{
    color: #000;
}
.h-footer-info{
	margin-left: 75px;
}
.b-footer-sites li{
	list-style: none;
	margin-left: 30px;
}
.b-footer-sites li a{
	background: url("../images/icon-link.png") no-repeat 0 50% transparent;
	padding-left: 18px;
}
.h-footer-social{
	margin-right: 15px;
}

.b-path{
	margin: 0 0 12px;
	border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 14px 12px;
	font-size: 12px;
	color: #8c8c8c;
}
.b-path li{
    list-style: none;
    margin-right: 5px;
}
.b-path a{
    margin-right: 5px;
	color: #000;
}
.b-path a:hover{
    color: #8c8c8c;;
}
.b-file{
	padding-left: 30px;
	line-height: 24px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.b-file-doc{background-image: url('../images/icon-doc.png');}
.b-file-docx{background-image: url('../images/icon-docx.png');}
.b-file-jpg{background-image: url('../images/icon-jpg.png');}
.b-file-pdf{background-image: url('../images/icon-pdf.png');}
.b-file-xls{background-image: url('../images/icon-xls.png');}
.b-file-zip{background-image: url('../images/icon-zip.png');}
.b-partner-image{
	border: 1px solid #e8e8e8;
    text-align: center;
    vertical-align: middle;
    width: 220px;
    height: 150px;
}
.h-partner-name{
	padding: 4px 20px 0;
}
.h-partner-info{
	width: 27%;
}
.b-partner-info-icon{
	padding: 3px 0 4px 25px;
	margin: 0;
	background-repeat: no-repeat;
	background-position: 0 2px;
}
.b-partner-info-address{background-image: url('../images/icon-partner-address.png');}
.b-partner-info-phone{background-image: url('../images/icon-partner-phone.png');}
.b-partner-info-email{background-image: url('../images/icon-partner-email.png');}
.h-awards{
	margin: 0 15px 20px 0;
}
.h-awards:nth-child(4n){margin-right: 0;}
.h-awards:hover{
	-moz-box-shadow: 0 2px 15px rgba(1,2,3,0.75);
	-webkit-box-shadow: 0 2px 15px rgba(1,2,3,0.75);
	box-shadow: 0 2px 15px rgba(1,2,3,0.75);
}
.h-vacancy-info{
	margin-left: 70px;
}
.b-line{
	position: relative;
	margin: 7px 0 12px;
}
.b-line:before{
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #c9c9c9;
}
.b-line-inner{
	position: relative;
	background-color: #fff;
	padding: 0 5px;
}
.h-company-gallery_block{
	width: 24%;
	margin-right: 0.9%;
}
.h-company-gallery_block:nth-child(4n){margin-right: 0;}
.b-company-awards_carousel{
	background: #3FA5D4;
	background: -ms-linear-gradient(top, #3FA5D4 0%, #007DB6 100%);
	background: -moz-linear-gradient(top, #3FA5D4 0%, #007DB6 100%);
	background: -webkit-linear-gradient(top, #3FA5D4 0%, #007DB6 100%);
	background: -o-linear-gradient(top, #3FA5D4 0%, #007DB6 100%);
	background: linear-gradient(top, #3FA5D4 0%, #007DB6 100%);
	padding: 10px 0!important;
	max-height: 220px;
	overflow: hidden;
}
.b-company-awards_carousel li{
	margin-left: 60px;
	border: none;
	float: left;
	-moz-box-shadow: 1px 1px 6px rgba(1,2,3,0.75);
	-webkit-box-shadow: 1px 1px 6px rgba(1,2,3,0.75);
	box-shadow: 1px 1px 6px rgba(1,2,3,0.75);
	height: auto;
}
.b-company-awards_carousel img{
	display: block;
}
.b-anons {
	color: #007db6;
	font-weight: bold;
	margin-top: 35px;
	width: 384px;
}
.b-list {margin-left: 40px;}
.b-form-item {
	margin-bottom: 1em;
	margin-top: 1em;
}
.b-form-label {
	display: block;
	font-weight: bold;
}
.b-form-field {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border: 1px solid #45a0ca;
	border-radius: 5px;
	color: #7f8080;
	height: 31px;
	padding: 2px 10px;
}
.b-form-field_textarea {
	height: auto;
	resize: vertical;
}
.b-form-submit {
	background: none repeat scroll 0 0 #45a0ca;
	border: 0 none;
	border-radius: 4px;
	box-shadow: 0 2px #496978;
	color: #fff;
	cursor: pointer;
	font-family: "Open Sans Condensed",sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 5px 10px 6px 10px;
	width: 100%;
}
.form_el_invalid, input[type="text"].form_el_invalid, .wrapped_select, select.wrapped_select{border: 1px solid #f00;}
.b-formDiler input[type="text"].form_el_invalid{border: 2px solid #f00;}
.lightTip{width: 342px;}
.lightTip .content{
	background: #fff;
	border: 6px solid #45a0ca;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	padding: 10px;
	text-align: center;
	width: 310px;
}
.lightTip .bottom {
	background: url(../images/notch.png) 50% 0 no-repeat;
	height: 14px;
}
.b-prices h3 {color: #000;}
.b-prices p, .pricelistPrev p {padding: 2px 0 10px 33px;margin-bottom: 13px;}
.f-pdf {background: url(../images/icon-pdf.png) 0 0 no-repeat;}
.f-doc{background: url(../images/icon-doc.png) 0 0 no-repeat;}
.f-docx, .f-ocx {background: url(../images/icon-docx.png) 0 0 no-repeat;}
.f-jpg, .f-gif, .f-png {background: url(../images/icon-jpg.png) 0 0 no-repeat;}


.b-pricelistWr {text-align: justify;}
.b-pricelistWr * {text-align: left;}
	.b-pricelistWr::after {content:'';width: 95%;display: inline-block;}
		.actionsPrev .readmore a, .pricelistPrev .readmore a {
		background: none repeat scroll 0 0 #fff;
		display: inline-block;
		padding: 0 10px;
		}
	.readmore {
		margin-bottom: 30px;
		margin-top: 20px;
		text-align: center;
	}
		.readmore a {
		font-size: 18px;
		font-style: italic;
		}
		.actionsPrev .readmore span.line, .pricelistPrev .readmore span.line {
		margin-top: -10px;
		}
		span.line {
		background: none repeat scroll 0 0 #c9c9c9;
		display: block;
		height: 1px;
		margin: -18px 0 0;
		width: 100%;
		}

.actionsPrev .date {font-size: 12px;}
.actionsPrev .title {margin: 4px 0 10px;}
.actionsPrev .title a {font-size: 20px;}
.pricelistPrev select {
		border:0;
		font-size: 24px;
}

.filter-set label {
	display: block;
	font-weight: normal;
}
select {
	padding: 1%;
	width: 96%;
}
.outer-container {background-color: #fff;}
.inner-container {
	background-color: #ecf0f1;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0 32px;
	position: relative;
}
#map-canvas {
	margin: 0 auto;
	width: 95%;
	height: 600px;
}
.filter-options {padding: 10px;}
.filter-set {
	display: inline-block;
	margin-right: 12px;
	vertical-align: bottom;
}
.filter-set_select {
	margin-right: 0;
	width: 30%;
}
.filter-set_search {margin-left: 12px;}
.button {
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: none repeat scroll 0 0 #45a0ca;
	box-shadow: 0 2px #496978;
	border: none;
	color: #ffffff;
	border-radius: 4px;
	font-family: "Open Sans Condensed",sans-serif;
	font-size: 14px;
	font-weight: 600;
	padding: 4px 28px;
}
.dilers-list-wrap {
	background: #fff;
	display: none;
	height: 600px;
	left: 97px;
	padding: 0 7px;
	position: absolute;
	top: 10px;
	width: 262px;
}
.dilers-list-border{
	border: 5px solid #007db6;
	height: 590px;
}
.dilers-list {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
.diler {
	border-bottom: 1px solid #ccc;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding: 10px;
}
.diler:last-child {
	border-bottom: none;
}
.diler-name {
	color: #007db6;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 2px;
}
.diler-services {
	font-size: 0;
	list-style: outside none none;
	padding: 0;
	text-align: center;
}
.diler-services-item {
	display: inline-block;
	height: 46px;
	margin-left: 5px;
	overflow: hidden;
	position: relative;
	width: 46px;
}
.diler-services-item:first-child {
	margin-left: 0;
}
.diler-services-item i {
	display: block;
	height: 100%;
	width: 100%;
}
i.warehouse {background-image: url(../images/icon-dealer-transport2.png);}
i.design {background-image: url(../images/icon-dealer-dis2.png);}
i.laying {background-image: url(../images/icon-dealer-ukladka2.png);}
i.warehouse-active {background-image: url(../images/icon-dealer-transport.png);}
i.design-active {background-image: url(../images/icon-dealer-dis.png);}
i.laying-active {background-image: url(../images/icon-dealer-ukladka.png);}
.diler b {font-weight: bold;}
.diler p {margin: 6px 0;}

@media only screen and (min-width: 769px) {
	.map-container {width: 100%;}
	.filter-container-lg {
		display: block;
		margin: 5px auto 15px auto;
	}
	.filter-container-lg > div {
		border: 1px solid #ccc;
		box-shadow: 0px 0px 3px #bbb;
	}
	.filter-container-sm {
		display: none;
	}
}
.b-cat_title {
	overflow: hidden;
	margin-bottom: 10px;
	color: #007db6;
	font-size: 22px;
}
	.b-cat_title span{font-size: 18px;vertical-align: baseline;}
	.b-cat_title::after {
		background: #c9c9c9;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 100%;
		left: 15px;
		margin: 0 -100% 0 0;
	}
.b-cat_goods > div {
	text-align: center;
	width: 18.8%;
	margin: 10px 0 6px 1%;
	border-bottom: 1px solid #c9c9c9;
	padding-bottom: 16px;
}
.b-top-sales > div {
	margin: 10px 0 6px 11px;
	width: 23.3%;
}
	.b-cat_goods > div:first-child,
	.b-cat_goods > div:nth-child(5n+1) {margin-left: 0;}

	.b-cat_goods a {text-decoration: none;}
	.b-cat_goodsTitle {color: #000;}
	.b-cat_goodsTitle:hover {text-decoration: underline;}
    .b-cat_goodsTitle_name{min-height: 50px;}
	.b-cat_goodsImg {
		position: relative;
		font-size: 0;
		margin: 13px 0 17px;
	}
	.b-cat_goodsImg p{
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		margin: 0;
		padding: 1px 2px 2px;
		font-size: 14px;
		background-color: rgba(255,255,255,0.8);
	}
	.b-cat_goodsPrice b{font-size: 14px;color: #007db6;}

.b-filterWr {margin-bottom: 30px;}
.b-filter_form {margin-bottom: 12px;}
	.b-filter > div {
		/*width: 47%;*/
		margin-left: 2.5%;
		margin-top: 3px;
	}
	.b-filter > div:first-child {
		width: 52%;
	}
	.b-filter > div:last-child {
		width: 45%;
	}
	.b-filter_form > div:first-child {width: 23%;}
	.b-filter_form > div:last-child {width: auto;}

.b-filter_column{
	display: inline-block;
     width: 232px;
	 margin-right:10px;
}
	
	.b-filter_inner > div {margin-bottom: 11px;}
	.b-filter_form  > div {
		margin-bottom: 5px;
		margin-right: 13px;
		width: 23%;
	}
	.b-filter_form  > div:nth-child(4n) {
		margin-right: 0;
		width: auto;
	}
	.b-filter > div:first-child, .b-filter_form  > div {margin-left: 0;}
	.b-filter_inner {
		position:relative;
		height: 245px;
		overflow-y: auto;
		border: 1px solid #ccc;
		margin: 12px 0 0;
		padding: 11px 22px 7px 19px;
		-webkit-border-radius: 5px;
		 -khtml-border-radius: 5px;
				border-radius: 5px;
	}
	.b-filter_l {width: 30%!important;}
	.b-filter_r {width: 41%!important;}
		.b-filter_l label {
			display: block;
			position: relative;
		}
		.b-filter_subcat {margin: 11px 0 0 21px!important;}
		.b-filter_subcat label {
			display: inline-block!important;
			font-size: 13px;
			width: 48%;
		}
			.b-filter_subcat > div {margin-bottom: 8px;}

	.b-filterForms div {
		margin-bottom: 4px;
		margin-right: 5%;
		width: 44%;
	}
		.b-filterForms span{font-size: 14px;}
		.b-filterForms span span {font-size: 13px;}
		.b-filterForms label {
			display: inline!important;
			font-size: 14px;
			margin: 0;
			position: relative;
		}
	.b-filterInvoice, .b-filterGroup {
		margin: 10px 0;
	}
	.b-filterInvoice {
		color: #007db6;
	}
		.b-filterInvoice  div, .b-filterGroup div {margin-bottom: 8px;}
		.b-filterInvoice  > div{
				display: inline-block;
				width: 200px;
				margin-right: 7px;
				
		}
			.b-filterInvoice input, .b-filterInvoice  label {
				display: inline-block;
				text-align: left;
			}
			.b-filterInvoice label{
				text-decoration: underline;
				width: auto !important;
			}

	.f-unavailable, .f-unavailable *, .b-filter input:disabled {color: #bababa;}

	.b-filter input[type=checkbox] {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}
	.b-filter label {cursor: pointer;width: 100%;}
	.b-filter label:before {
		content: " ";
		display: block;
		width: 17px;
		height: 17px;
		background: url("/images/checkboxes.png") no-repeat scroll -23px 0;
		position: relative;
		top: 3px;
		margin-left: -6px;
		padding-right: 10px;
		margin-bottom: 3px;
		float:left; 
	}
	
	.b-filter input[type=checkbox]:checked + label:before {background-position: 5px 0;}
	.b-filter input[type=checkbox]:checked + label {text-decoration: none;}
	
	.b-filterNumberGoods {
		position: absolute;
		bottom:8px;
		left:12%;
		font-size: 16px;
		color: #fff;
	}
	.b-filterNumberGoods b {margin: 0 10px;}

	.b-loader {
		position: absolute;
		top:32%;
		left:43%;
	}

.b-formDiler .g-left, .b-formDiler .g-right {width: 50%;}
.b-formDiler label, .b-formDiler input {display: block;}
.b-formDiler label {
	color:#007db6;
	margin-top: 15px;
	width: 95%;
}
.b-formDiler input,
.b-formDiler textarea {
	border: 1px solid #45a0ca;
	color: #7f8080;
	height: 25px;
	width: 95%;
	padding: 2px 10px;
	-webkit-border-radius: 5px;
	 -khtml-border-radius: 5px;
			border-radius: 5px;
}
.b-formDiler textarea {height: 130px;}
.b-formDiler p {font: normal 12px "Open Sans",sans-serif;}
.b-formDiler p.b-formDiler_title {
	margin-top: 25px;
	font: bold 16px "Open Sans Condensed",Arial,sans-serif;
}

.b-orderBtn, input[type='submit'] {
	background: #45a0ca;
	color: #fff;
	text-decoration: none;
	padding: 4px 16px 3px;
	border:0;
	height: auto;
	border-bottom: 2px solid #496978;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 5px;
	 -khtml-border-radius: 5px;
			border-radius: 5px;
}
.b-orderBtn_full, input[type='submit'].b-orderBtn_full {
	display: block;
	font-weight: bold;
	font-size: 16px;
	width: 100%;
	padding: 5px;
}
.b-orderBtn_good {
	display: block;
	font-size: 24px;
	padding: 0 5px 1px;
	text-align: center;
	margin: 0 4px;
}
	.b-orderBtn:hover {background: #3991ba;}

.b-goodWr {margin: 30px 0 0;}
	.b-goodImg {
		width: 28%;
		margin-right: 2%;
		text-align: center;
	}
		.b-goodImg_prev li {margin: 13px 4px 7px;}
		.h-guarantee {margin-top: 34px;}

	.b-goodDescription {
		width: 69.5%;
	}
	.b-goodDescription .b-cat_title {margin: -9px 0 10px;}
	.b-goodMain {margin-bottom: 24px;}
	.b-goodMain li{margin-left: 22px;width: 27%;}
	.b-goodMain li:last-child{width: 32%;}
	.b-goodMain li:first-child {margin-left: 0;width: 32%;}
	
	.b-goodMain li.b-half{width: 46% !important;}

	.b-goodMain li span {
		border-bottom: 1px dotted #007db6;
		cursor: pointer;
		margin-bottom: 5px;
		position: relative;
	}
	.b-goodMain li span:hover {border-bottom: none;}
	.b-goodMainSizes {width: 66%;}

	.b-goodMain li span span {display: none;}
	.b-goodMain li span:hover span {
		display: block;
		border: 1px solid #ccc;
		position: absolute;
		bottom: 25px;
		left: -65%;
		max-width: none;
		width: 192px;height: 152px;
		-webkit-border-radius: 5px;
		 -khtml-border-radius: 5px;
				border-radius: 5px;
	}
	.b-goodMain li span:hover span img{
		-webkit-border-radius: 5px;
		 -khtml-border-radius: 5px;
				border-radius: 5px;
	}
		.b-goodMain li span span::after {
			display: inline-block;
			content: "";
			width: 7px;height: 7px;
			background: #fff;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			position: absolute;
			left:48%;
			bottom:-5px;
			transform: rotate(45deg);
		}

	.b-goodColors > div {
		margin: 2px 2% 27px 0;
		position: relative;
		font-size: 13px;
		text-align: center;
		width: 115px;
	}
		.b-goodColors > div:nth-child(5n){margin-right: 0;}

	.b-goodColors_title {
		position: absolute;
		left: 0;
		right: 0;
		top:88px;
		background: rgba(255,255,255,0.8);
		color: #626262;
		/* font-size: 10px; */
		height: 26px;
		line-height: 12px;
		height: 29px;
		padding: 0px;
		margin: 0px;
		overflow: hidden;
	}
		.b-goodColors_title:before {
			content:'';
			display: inline-block;
			height: 28px;
			vertical-align: middle;
			margin-right: -0.25em;
		}
		.b-goodColors_title span {
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}
	.b-goodColors_price {
		font-size: 15px;
		margin: 3px 0 14px;
	}
		.b-goodColors_price b {
			font-size: 24px;
			color: #007db6;
			vertical-align: baseline;
		}


.b-tabs {margin: 43px 0;}
	.b-tabs ul {font-size: 0;}
	.b-tabs li {
		width: 24.84%;
		margin: 0 2px 2px 0;
	}
	.b-tabs li:last-child {margin-right: 0;}
	.ui-tabs-anchor {
		display: block;
		background: #45a0ca;
		border: 1px solid #45a0ca;
		color: #fff;
		font: bold 18px "Open Sans Condensed",Arial,sans-serif;
		text-decoration: underline;
		text-transform: uppercase;
		padding: 4px 5px 7px;
		text-align: center;
	}
	.ui-tabs-anchor:hover, .ui-tabs-active {
		border:0;
		position: relative;
	}
	.ui-tabs-anchor:hover,
	.ui-tabs-active a, .ui-tabs-active a:hover {
		color: #007db6;
		background: #fff;
		text-decoration: none;
		border: 1px solid #b4cbec;
	}
	.ui-tabs-active a h2, .ui-tabs-active a:hover h2 {
		font: bold 18px "Open Sans Condensed",Arial,sans-ser;
		margin-top: 0px;
	}
	.ui-tabs-active a, .ui-tabs-active a:hover {
		border: 1px solid #c9c9c9;
		border-bottom: 0;
		margin-bottom: -1px;
		height: 30px;
	}
	.b-tabs > div {
		border: 1px solid #c9c9c9;
		padding: 10px 20px 20px;
	}
	.b-objects {min-height: 226px;overflow:hidden;}
	.b-objects > a {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		margin: 10px 0 0 0 ;
	}
	.b-objects > a:first-child {margin-left: 0;}
	.b-objects img {width: 95%; height: 95%;}
	.b-objects img:hover {
		/* width: 96%;height: 96%; */
		-moz-box-shadow: 0 2px 15px rgba(1,2,3,0.75);
		-webkit-box-shadow: 0 2px 15px rgba(1,2,3,0.75);
		box-shadow: 0 2px 15px rgba(1,2,3,0.75);
	}
	.b-objectsLast {
		position: relative;
		background: #f6f6f6;
		width: 209px;
		height: 209px;
		color: #007db6;
	}
	.b-objectsLast img {
		position: absolute;
		top:22%;
		left: 31%;
	}
	.b-objectsLast img,.b-objectsLast img:hover{width: auto;height: auto;box-shadow: none;}
	.b-objectsLast span {
		position: absolute;
		left: 0;
		top:52%;
		width: 100%;
	}
	.b-objects a span{text-decoration: underline;}
	.b-objects a:hover span{text-decoration: none;}

	.b-table {list-style:none;margin-top: -24px;}
		.b-table li{
			border-bottom: 1px dotted #c9c9c9;
			position:relative;
			width:100%;
			margin-top: -1em;
		}
		.b-table li p {padding-right: 25%;margin: 0;}

		.b-table li span, .b-table li b {
			position:relative;
			top:1.7em;
			background: #fff;
		}
		.b-table li b {top:.38em;}
	/* .b-tabs .b-cat_goods > div {margin: 0 0 20px 18px;}
	.b-tabs .b-cat_goods > div:first-child,
	.b-tabs .b-cat_goods > div:nth-child(5n+1) {margin-left: 0;} */
.icon-arrow_down::after {
	display: inline-block;
	content: "";
	background: url(/images/i-arrow_down.png) 0 0 no-repeat;
	width: 9px;height: 6px;
	margin: 0 2px 0 3px;
	vertical-align: middle;
}
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	width: 200px;
}
.jq-selectbox__select {
	background: #fff;
	border-radius: 4px 4px 0 0;
	color: #444;
	height: 25px;
	line-height: 24px;
	padding: 0 0 0 8px;
}
.jq-selectbox__select-text {font-weight: bold;}
.jq-selectbox__dropdown {
	background: #fff;
	border-color: #aaa;
	border-radius: 0 0 4px 4px;
	border-style: solid;
	border-width: 0 1px 1px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	color: #444;
	font-size: 13px;
	left: 0;
	line-height: 15px;
	padding: 0;
	right: 0;
}
.jq-selectbox__dropdown ul {padding: 0 3px 3px 3px;}
.jq-selectbox__dropdown li {padding: 5px 6px 5px 6px;}
.jq-selectbox__dropdown .selected, .jq-selectbox__dropdown li:hover {
	background-color: #3875d7;
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}
.jq-selectbox.opened .jq-selectbox__select {
	background-image: linear-gradient(#eee 20%, #fff 80%);
	border-color: #aaa;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 1px 0 #fff inset;
}
.jq-selectbox__trigger {
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 9px;
	width: 18px;
}
.jq-selectbox__trigger-arrow {
	background: url(../images/select-sprite.png) no-repeat 0 0;
	display: block;
	height: 5px;
	width: 7px;
}
.jq-selectbox.opened .jq-selectbox__trigger-arrow {background-position: 0 -5px;}
.selectbox-price .jq-selectbox {width: 240px;}
.selectbox-price .jq-selectbox__select-text {font-weight: normal;}
.selectbox-price .jq-selectbox__select {
	height: 28px;
	line-height: 28px;
}
.selectbox-price .jq-selectbox__dropdown {
	font-size: 24px;
	line-height: 16px;
}
.selectbox-price .jq-selectbox__trigger {top: 12px;}
.h-header-city .jq-selectbox__select {
	font-size: 25px;
	font-weight: bold;
	color: #007db6;
	height: 29px;
	line-height: 25px;
	padding-right: 16px;
	text-align: right;
}
.h-header-city .jq-selectbox {width: 235px;}
.h-header-city .jq-selectbox__dropdown {
	color: #000;
	left: 83px;
	width: 150px;
}
.h-header-city .jq-selectbox__trigger-arrow,
.h-header-city  .jq-selectbox.opened .jq-selectbox__trigger-arrow {
	background: url(../images/select-region-trigger.png) no-repeat 100% 2px;
	height: 100%;
	width: 100%;
}
.h-header-city .jq-selectbox.opened .jq-selectbox__select {
	background: none;
	border: none;
	box-shadow: none;
}
.h-header-city .jq-selectbox__dropdown {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 3px rgba(1,2,3,.15);
	-moz-box-shadow: 1px 1px 3px rgba(1,2,3,.15);
	box-shadow: 1px 1px 3px rgba(1,2,3,.15);
	font-size: 14px;
}
.h-header-city .jq-selectbox__dropdown ul {padding: 5px 11px;}
.h-header-city .jq-selectbox__dropdown li {padding: 2px 0 3px 0;}
.h-header-city .jq-selectbox__dropdown .selected, .h-header-city  .jq-selectbox__dropdown li:hover {
	background: #fff;
	color: #007db6;
}
.b-order-form {
	background: #fff;
	border: 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 3px 7px rgba(1,2,3,.33);
	-moz-box-shadow: 2px 3px 7px rgba(1,2,3,.33);
	box-shadow: 2px 3px 7px rgba(1,2,3,.33);
	padding: 13px 12px 24px 12px;
	width: 504px;
}
.f-order-form-title, .f-order-form-good {
	color: #000;
	line-height: 24px;
	text-align: center;
}
.f-order-form-title {font-size: 24px;}
.f-order-form-good {font-size: 18px;}
.b-order-form-wrap {padding: 13px 35px 0 35px;}
.b-order-form-close {
	background: url(../images/fancybox-form-close.png) no-repeat 0 0;
	cursor: pointer;
	height: 19px;
	position: absolute;
	right: 12px;
	top: 12px;
	width: 19px;
}
.b-order-form-close:hover {background-position: 0 -19px;}
.b-order-form input[type="text"], .b-order-form textarea {
	background-color: #fff;
	-webkit-box-shadow: inset 1px 1px 2px rgba(1,2,3,.15);
	-moz-box-shadow: inset 1px 1px 2px rgba(1,2,3,.15);
	box-shadow: inset 1px 1px 2px rgba(1,2,3,.15);
	border: solid 1px #ccc;
	box-sizing: border-box;
	font-size: 14px;
	display: block;
	padding: 3px 4px 2px 4px;
	width: 100%;
}
.b-order-form input[type="text"] {margin-bottom: 18px;}
.b-order-form textarea {
	min-height: 69px;
	resize: vertical;
}
.b-order-form p {margin-bottom: 3px;}
.b-order-form-btn {
	margin-top: 25px;
	text-align: center;
}
.b-orderBtn_submit, input.b-orderBtn_submit[type="submit"] {
	font-size: 24px;
	line-height: 24px;
	padding: 4px 34px 5px 34px;
}
.b-news-h1{
	background-color: rgba(255, 255, 255, 0.6);
    margin: 0;
    padding: 20px;
    position: absolute;
	top: 0;
	left: 0;
    width: 100%;
	font-size: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.h-pagination{margin: 20px 0;}
.b-pagination_numbers{padding: 0;margin: 0;}
.b-pagination_numbers li{
	padding: 0;
	margin: 0 17px;
	list-style: none;
}
.f-pagination_numbers-active{
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.h-news_carousel{
	max-height: 220px;
	overflow: hidden;
}
.h-news_carousel li{
	margin-left: 3px;
	border: none;
	float: left;
	height: auto;
	list-style: none;
}
.h-news_carousel img{
	display: block;
}
.b-header_bottom-select{height: 27px;}
.b-header_bottom-select .jq-selectbox{width: 320px;}
.b-header_bottom-select .jq-selectbox__select{padding-top: 1px;}
.b-header_bottom-select .jq-selectbox.opened .jq-selectbox__select{padding-top: 0;}
.b-header_bottom-select .jq-selectbox, .b-header_bottom-select  .jq-selectbox__select-text{
	font-weight: normal;
	font-size: 13px;
}
.b-header_bottom-select .jq-selectbox__select{
	border-radius: 4px;
}
.b-header_bottom-check input{
	display: none;
}
.b-header_bottom-check label{
	cursor: pointer;
	text-decoration: underline;
}
.b-header_bottom-check label:hover{
	text-decoration: none;
	color: #144c68;
}
.b-header_bottom-check input:checked + label{
	color: #144c68;
}
.hide_element{
	display: none!important;
}
.b-cat_separate{
	border-top: 1px solid #efefef;
	padding-top: 40px;
}

 .subheader {
	height: 412px;
}

.nivo-caption {
	box-shadow: 0 4px 2px 2px rgba(0,0,0,0.4);
	border-radius: 8px;
	height: 260px;
	position: relative;
	left: 50%;
	margin-left: -470px;
	width: 940px;
	bottom: 80px;
	color: #000;
	z-index: 100;
	overflow: hidden;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 75px;
	background: #fff;
}

.nivo-caption #block-views-slideup-slideup1 {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	width: 230px;
	height: 260px;
	background: rgb(0,160,194);
	background: -moz-linear-gradient(top, rgba(0,148,183,1) 0%, rgba(0,160,194,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,148,183,1)), color-stop(100%,rgba(0,160,194,1)));
	background: -webkit-linear-gradient(top, rgba 0%(0,148,183,1),rgba(0,160,194,1) 100%);
	background: -o-linear-gradient(top, rgba 0%(0,148,183,1),rgba(0,160,194,1) 100%);
	background: -ms-linear-gradient(top, rgba 0%(0,148,183,1),rgba(0,160,194,1) 100%);
	background: linear-gradient(to bottom, rgba 0%(0,148,183,1),rgba(0,160,194,1) 100%);
}

.nivo-caption #block-views-slideup-slideup2 {
	display: inline-block;
	vertical-align: top;
	border-radius: 0 8px 8px 0;
	width: 700px;
	margin-left: -4px;
	height: 260px;
	background: rgba(255,255,255,1);
}

.nivo-caption #block-views-slideup-slideup1 .view-content {
  margin: 4px 0 0 0;
  padding: 0;
}

.nivo-caption #block-views-slideup-slideup1 .view-content a {
	display: block;
	padding: 8px 3px 8px 17px;
	font-weight: 600;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}


.nivo-caption #block-views-slideup-slideup2 .view-content h3 {
  font-size: 24px;
  margin: 30px 20px 20px 20px;
  text-transform: uppercase;
  color: #007db6;
}

.nivo-caption #block-views-slideup-slideup2 .view-content p {
  width: 420px;
  margin: 20px;
}

.nivo-caption #block-views-slideup-slideup2 .view-content .imgHolder {
  margin: 20px 0 0 0 !important;
  width: 200px;
}

.wrap {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.announce .title {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin: 0 auto;
  padding: 30px 0 0 0;
  width: 880px;
}

.nivo-caption #block-views-slideup-slideup2 .views-row .sliderBlock {
  background: #fff;
  height: 260px;
  width: 711px;
}

.nivo-caption #block-views-slideup-slideup1 .view-content a.active,
.nivo-caption #block-views-slideup-slideup1 .view-content a:hover {
	box-shadow: 0 2px 1px 1px rgba(0,127,169,0.5) inset;
	background: #007fa9;
}

.announce {
  color: #fff;
  height: 460px;
  background: url(../images/bluemap.jpg) 50% 0% no-repeat;
}

.announce .title-second {
  text-align: center;
  display: block;
  font-size: 36px;
  font-weight: 800;
  margin: 20px auto;
  width: 880px;
  text-transform: uppercase;
  text-shadow: 2px 2px #266f92;
}

.announce .item {
  padding: 10px 4px;
  vertical-align: top;
  text-shadow: 2px 2px #266f92;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 210px;
  margin: 0 10px 20px 0;
  color: #fff;
  height: 80px;
}

.announce .item:hover, .announce .item.active {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  background: -moz-linear-gradient(top, rgba(63,165,212,0.5) 0%, rgba(2,126,183,0.5) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,165,212,0.5)), color-stop(100%,rgba(2,126,183,0.5)));
  background: -webkit-linear-gradient(top, rgba(63,165,212,0.5) 0%,rgba(2,126,183,0.5) 100%);
  background: -o-linear-gradient(top, rgba(63,165,212,0.5) 0%,rgba(2,126,183,0.5) 100%);
  background: -ms-linear-gradient(top, rgba(63,165,212,0.5) 0%,rgba(2,126,183,0.5) 100%);
  background: linear-gradient(to bottom, rgba(63,165,212,0.5) 0%,rgba(2,126,183,0.5) 100%);
}

.newsPrev {
	height: 300px;
	box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.2);
	margin: 40px auto;
}
.newsPrev .b-news {
  display: inline-block;
  float: left;
  height: 300px;
  overflow: hidden;
}
.newsPrev .b-news .b-news_item {
  margin: 10px 11px 0 0;
  width: 220px;
  height: 263px;
  overflow: hidden;
}

.newsPrev .b-news .b-news_item .h5 {
  margin: 4px 0;
}

.newsPrev .b-news .b-news_item .date {
  font-style: normal;
  margin: 4px 0;
  font-size: 14px;
  color: #797979;
}

.newsPrev .b-news-banner {
  display: inline-block;
  float: right;
}

.newsPrev .b-news .b-news_item:first-child{
  margin-left: 10px;
}

.featured {
  margin: 20px 0;
  background: rgb(52,128,164);
  background: -moz-linear-gradient(left, rgba(52,128,164,1) 0%, rgba(63,145,177,1) 50%, rgba(52,128,164,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(52,128,164,1)), color-stop(50%,rgba(63,145,177,1)), color-stop(100%,rgba(52,128,164,1)));
  background: -webkit-linear-gradient(left, rgba(52,128,164,1) 0%,rgba(63,145,177,1) 50%,rgba(52,128,164,1) 100%);
  background: -o-linear-gradient(left, rgba(52,128,164,1) 0%,rgba(63,145,177,1) 50%,rgba(52,128,164,1) 100%);
  background: -ms-linear-gradient(left, rgba(52,128,164,1) 0%,rgba(63,145,177,1) 50%,rgba(52,128,164,1) 100%);
  background: linear-gradient(to right, rgba(52,128,164,1) 0%,rgba(63,145,177,1) 50%,rgba(52,128,164,1) 100%);
}

.b-vip::before{
	background: rgba(0, 0, 0, 0) url("../images/hit.png") no-repeat scroll 0 0;
    content: "";
    height: 113px;
    margin: -6px 0 0 -7px;
    position: absolute;
    width: 117px;
}

.b-filterInvoiceDescription{
	position: relative;
	margin: 0!important;
	cursor: pointer;
	border-bottom: 1px dotted #007db6;
}
.b-filterInvoiceDescription:hover{
	border-bottom: none;
}
.b-filterInvoiceDescription > div {
	border: 1px solid #ccc;
	background-color: #fff;
	position: absolute;
	bottom: 17px;
	right: -100px;
	width: 270px;
	padding: 7px;
	min-height: 52px;
	border-radius: 5px;
	color: #000;
	font-size: 13px;
	display: none;
}
.b-filterInvoiceDescription:hover > div {
	display: block;
}
.b-filterInvoiceDescription > div:after {
	display: inline-block;
	content: "";
	width: 7px;
	height: 7px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: absolute;
	left:62%;
	bottom:-5px;
	transform: rotate(45deg);
}
.b-header-city {
	background: url(../images/select-region-trigger.png) no-repeat scroll 100% 54%;
	font-size: 25px;
	font-weight: bold;
	color: #007db6;
	line-height: 25px;
	padding-right: 16px;
	text-align: right;
	text-decoration: none;
	word-wrap: break-word;
}
.b-select-region {
	background: #fff;
	border: 1px solid #eee;
	-webkit-box-shadow: 2px 3px 7px rgba(1,2,3,.33);
	-moz-box-shadow: 2px 3px 7px rgba(1,2,3,.33);
	box-shadow: 2px 3px 7px rgba(1,2,3,.33);
	padding: 21px 55px 17px 55px;
	width: 715px;
}
.b-regions {width: 25%;}
.b-regions div {margin-bottom: 6px;}
.b-regions:first-child div:nth-child(6) {
	border-bottom: 1px solid #c9c9c9;
	margin-bottom: 7px;
	margin-right: 20px;
	padding-bottom: 8px;
}
.b-regions div:last-child {margin-bottom: 0;}
.b-regions a {
	color: #323232;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.b-regions a:hover, .b-regions a.selected {color: #007db6;}
.b-dilers-button a {
	background: url(../images/key.png) no-repeat 0 50% #3480a3;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1) inset;
	border-radius: 6px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 3px 10px 6px 40px;
}
.b-dilers-button a:hover {text-decoration: none;}
.b-counters {
	margin-right: 5px;
	margin-top: 5px;
}
.h-open_filter{
	margin-top: -40px;
	/*margin-right: 94px;*/
}
.b-white_arr{
	padding: 4px 29px 5px;
}
.b-white_arr:after {
	display: inline-block;
	content: "";
	background: url(/images/arrows-white.png) 0 0 no-repeat;
	width: 8px;
	height: 6px;
	margin: 0 1px 0 4px;
	vertical-align: middle;
}
.b-white_arr-active:after {
	background-position: 0 -6px;
}
.g-sidebar {
	margin-right: 20px;
	width: 181px;
}
.g-content {padding-left: 5px;}
.b-slide {border: 1px solid #ccc;}
.b-slide img, .b-category img {vertical-align: top;}
.bx-pager {margin-top: 7px;}
.bx-pager-item {
	display: inline-block;
	margin-right: 4px;
}
.bx-pager-link {
	background: url(../images/b-pager.png) no-repeat 0 0;
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: 20px;
	width: 22px;
}
.bx-pager-link.active {background-position: 0 -20px;}
.b-contact-btn {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px #c5c5c5;
	-moz-box-shadow: 0 1px #c5c5c5;
	border: 1px solid #ccc;
	box-shadow: 0 1px #c5c5c5;
	color: #007db6;
	display: block;
	font-size: 14px;
	min-width: 168px;
	padding: 4px 5px 5px 5px;
	text-align: center;
	text-decoration: none;
}
.b-contact-btn:hover {background-color: #f5f5f5;}
.d-ib_div > div.f-middle {vertical-align: middle;}
.b-category {
	border-top: 1px solid #c9c9c9;
}
.b-category-title {
	display: block;
	font-size: 17px;
	line-height: 16px;
	margin-bottom: 1px;
	padding: 6px 5px 9px 5px;
}
.b-category-title:hover {
	background: #45a0ca;
	color: #fff;
	text-decoration: none;
}
.b-new {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 7px;
	padding-bottom: 5px;
}
.b-new-title {color: #000;}
.zoomToggle, .zoomDisabled {cursor:auto;}
.zoomToggleOn {cursor: url(../images/zoom_in.cur), pointer;}
.zoomToggleOff {cursor: url(../images/zoom_out.cur), pointer;}
.h-main_slider{height: 228px; overflow: hidden;}
.note {
	background: #45a0ca;
	border-radius: 6px;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}
.arrow_down:after{
	content: '';
    border: 4px solid transparent;
    border-left: 4px solid #fff;
    display: inline-block;
    margin-left: 5px;
    margin-top: 9px;
}
.region-confirm {
	border: 1px solid #007db6;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 3px rgba(27, 28, 22, .6);
	   -moz-box-shadow: 0 2px 3px rgba(27, 28, 22, .6);
	        box-shadow: 0 2px 3px rgba(27, 28, 22, .6);
	position: absolute;
	background: #fff;
	left: -86px;
	top: 36px;
	padding: 25px 65px 13px 50px;
	width: 250px;
	z-index: 100;
}
.region-confirm::after, .region-confirm::before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.region-confirm::after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: 7px;
}
.region-confirm::before {
	border-color: rgba(0, 125, 182, 0);
	border-bottom-color: #007db6;
	border-width: 6px;
	margin-left: 6px;
}
.region-confirm-close {
	right: 8px;
	top: 10px;
}
.region-place {
	background: url(../images/i-place.png) no-repeat 0 0;
	padding-left: 23px;
	padding-top: 4px;
}
.region-place span {padding-right: 5px;}
.region-confirm-btn {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #45a0ca;
	-webkit-box-shadow: 0 1px #c5c5c5;
	   -moz-box-shadow: 0 1px #c5c5c5;
	        box-shadow: 0 1px #c5c5c5;
	color: #fff;
	display: inline-block;
	padding: 4px 16px 6px;
	text-decoration: none;
}
.region-confirm-btn:hover, .region-confirm-btn:active {background: #3991ba;}
.b-comp_projects{
	overflow: hidden;
}
.b-comp_project{
	float: left;
	width: 228px;
	margin-bottom: 40px;
	margin-right: 7px;
}
.b-comp_project_vip {
	float: none;
	margin-top: 15px;
	position: relative;
}
.b-comp_project_vip::before {
	background: url(../images/place.png) no-repeat 0 0;
	color: #fff;
	content: attr(data-place);
	font-size: 30px;
	font-weight: bold;
	height: 165px;
	left: -18px;
	line-height: 70px;
	position: absolute;
	text-shadow: 1px 1px 2px #064b6a;
	top: -15px;
	width: 74px;
}
.b-comp_project_vip_first::before {background: url(../images/place_first.png) no-repeat 0 0;}
.b-comp_project_autor{
	font-size: 18px;
	color: #007db5;
	font-weight: bold;
	margin: 5px 0 5px 0;
	min-height: 35px;
    line-height: 18px;
}

.b-comp_project_pdf {
	display: block;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-size: 12px;
	text-align: center;
	padding: 10px 0 10px 30px;
	position: relative;
	margin-top: 10px;
}


.b-comp_project_pdf:before{
	content: '';
	background: url(/images/pdf.png) no-repeat;
	margin-right: 10px;
	display: inline-block;
	height: 27px;
	width: 27px;
	position: absolute;
	top: 5px;
    left: 9px;
}
.line-gray{
	border-top: 1px solid #c9c9c9;
}
.b-btn-comp{
	display: block;
	font-size: 22px;
	color: #ffffff;
	background: #008eb1;
    background: -moz-linear-gradient(top, #00a7c2 0%, #00a2be 30%, #0095b6 51%, #008caf 100%);
    background: -webkit-linear-gradient(top, #00a7c2 0%, #00a2be 30%, #0095b6 51%, #008caf 100%);
    background: linear-gradient(top, #00a7c2 0%, #00a2be 30%, #0095b6 51%, #008caf 100%);
	width: 381px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 2px #266f92;
	padding: 3px 0;
    margin-bottom: 10px;
}
.b-btn-comp:after{
	content: '';
    border: 6px solid transparent;
    border-left: 6px solid #fff;
    display: inline-block;
	margin-left: 13px;
    margin-bottom: 2px;
}
.h-calc_pattern-tab{
	padding: 7px 12px 31px 16px!important;
}
.b-calc_pattern{
	margin-bottom: 25px;
	padding-top: 8px;
	border-top: 1px solid #d9d9d9;
}
.b-calc_pattern:first-child{
	padding-top: 0;
	border-top: none;
}
.h-calc_pattern-content{
	width: 78%;
	float: right;
	margin-top: 4px;
}
.h-calc_pattern-content-left_tbl{
	width: 51%;
}
.h-calc_pattern-content-left_tbl td{
	padding: 0 3px 8px 1px;
}
.h-calc_pattern-content-right{
	margin-left: 52%;
	padding-left: 12px;
	border-left: 1px solid #d9d9d9;
	min-height: 118px;
}
.b-calc_pattern-content-right-name{
	line-height: 13px;
	width: 24%;
	margin-right: 3%;
}
.h-calc_pattern-content-right-input{
	width: 18.5%;
	margin: -4px 1% 0 0;
}
.b-calc_pattern-input{
	font: normal 16px/20px "Open Sans",Arial,sans-serif!important;
	width: 100%;
	padding: 5px 10px 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #c9c9c9;
}
.h-calc_pattern-content-right-button{
	padding: 4px 10px 5px;
	margin-left: 7%;
}
.b-calc_pattern-content-right-border{
	margin-top: 14px;
	border: 1px solid #c9c9c9;
	padding: 9px 1px 12px;
}
.b-calc_pattern-content-gray_block{
	border: 1px solid #d9d9d9;
	background-color: #eee;
	margin-top: 21px;
	padding: 10px 4px 8px 7px;
}
.b-calc_pattern .b-orderBtn {
	border-bottom: 2px solid #bcc3c5;
}
.h-calc_pattern-content-gray_block-button{
	width: 21%;
	margin-right: 1.5%;
	padding: 5px 4px 6px;
	text-align: center;
}
.b-calc_pattern-content-gray_block-input{
	font: normal 12px/16px "Open Sans",Arial,sans-serif!important;
	width: 72%;
	padding: 6px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #c9c9c9;
	display: inline-block;
	border-radius: 5px;
	vertical-align: middle;
}
.b-calc_pattern-content-gray_block-submit{
	padding: 7px 2px!important;
	width: 29%;
	border: none!important;
	margin-left: -3%;
	line-height: 16px;
	height: 30px !important;
	vertical-align: middle;
}
.b-calc_pattern-content-gray_block-submit:hover{
	background-color: #3991ba;
}
.b-cat-series_desc{
	background: url('../images/icon-series-desc.png') no-repeat 6px 6px;
	padding-left: 53px;
	margin: 20px 0 12px;
	font-size: 13px;
	line-height: 17px;
	color: #646464;
}
.h-calc_pattern-print{
	width: 560px;
	margin: 0 auto;
}
.b-calc_pattern-print-header-logo{
	font-size: 12px;
	line-height: 12px;
	color: #007db6;
	margin-right: 40px;
	text-align: center;
	width: 220px;
}
.b-calc_pattern-print-text{
	margin: 21px 0 25px;
	padding-bottom: 13px;
	border-bottom: 1px solid #c9c9c9;
	color: #5e5e5e;
}
.h-calc_pattern-print-content{
	margin-left: 35.5%;
}
.h-calc_pattern-print-min_tbl{
	min-height: 111px;
}
.b-news-img{
	float: left;
    margin-right: 30px;
    margin-bottom: 25px;
}
.h-cat-another-img{
	margin: 13px 0 5px;
}
.b-another_types{
	font-size: inherit!important;
	font-weight: bold;
	margin: 7px 4px 0;
}
.b-another_types li{
	width: 23.3%;
	padding: 2px 0 3px 32px;
	margin: 7px 1.8% 0 0;
	background: url('../images/marker-tile.png') no-repeat 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 24px;
}
.b-another_types li:nth-child(4n) {
    margin-right: 0;
}
.b-another_types a{
	color: #000;
}
.h-cat_goodsTitle-invoice{min-height:48px;}

.b-title-filfal{
	color: #459fc9;
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: -15px;
	margin-left: 37px;
	margin-bottom: 7px;
}

.b-border-filfal {
	width: 143px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	border: 1px solid #007db6;
	margin-left: -16px;
	padding: 5px 16px 6px;
	position: relative;
	box-shadow: 0 4px 3px -4px rgba(50,50,50, 0.7);
}

.b-border-filfal:before {
	content: '';
	background: url(/images/arrow-filial.png) no-repeat;
	display: block;
	width: 13px;
	height: 7px;
	position: absolute;
    top: -2px;
    left: 80px;
    border-top: 1px solid #fff;
}
.btn-competition {
	background: url(../images/icon-competition.png) no-repeat 19px 8px #fff;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 4px 10px rgba(1, 0, 0, .28);
	   -moz-box-shadow: 0 4px 10px rgba(1, 0, 0, .28);
	        box-shadow: 0 4px 10px rgba(1, 0, 0, .28);
	display: inline-block;
	padding: 27px 22px 30px 94px;
}
.b-goodColors-krylco div{
	width: 95px;
	margin: 2px 0% 14px 0;
}
.b-goodColors-krylco .b-goodColors_title{
	top: 55px;
}
.b-goodColors-krylco .b-cat_goodsPrice b {
    font-size: 12px;
    color: #007db6;
}
.b-goodColors-krylco  .b-goodColors_price {
    font-size: 12px;
	margin: 3px 0 8px;
    min-height: 34px;
}
.b-goodColors-krylco .i-box{
   font-size: 12px;
}
.b-goodColors-krylco .i-box:before {
    content: "\22";
    font-size: 18px;
}
.b-goodColors-krylco-border{
	width: 100%;
	border-bottom: 1px solid #c9c9c9;
}
.b-price_goods-wrapper{
	margin: 28px 0 38px;
	padding-bottom: 26px;
	border-bottom: 1px solid #c9c9c9;
}
.h-price_goods-char{
	min-height: 40px;
}
.h-price_goods-invoice{
	width: 37%!important;
	margin-left: 2.3%!important;
}
.h-price_goods-variants-wrapper{
	margin-top: 2%;
	line-height: 19px;
}
.h-price_goods-variants-wrapper > div{
	width: 32.2%;
	margin: 0 1% 14px 0;
}
.h-price_goods-variants-wrapper > div:nth-child(3n){
	margin-right: 0;
}
.h-price_goods-variants-image{
	float: left;
	margin: 4px 5% 0 0;
}

.b-error-title:before {
    content: '';
    background: url(/images/error.png)no-repeat;
    width: 36px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}