.g-container {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .29);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .29);
	        box-shadow: 0 0 5px rgba(0, 0, 0, .29);
	margin: 0 auto;
	max-width: 1280px;
	min-height: 100%;
	position: relative;
}
.g-wrap {padding-bottom: 139px;}
.header-line {border-bottom: 1px solid #d7d9d9;}
.header-contacts {padding: 16px 42px 12px 40px;}
.icon-phone::before, .icon-email::before {
	color: #1ec063;
	font-size: 20px;
}
.icon-phone {padding-right: 35px;}
.icon-phone::before {
	content: "\25";
	padding-right: 6px;
	vertical-align: -2px;
}
.icon-email {padding-right: 30px;}
.icon-email::before {
	content: "\21";
	padding-right: 14px;
	vertical-align: sub;
}
.email-link {
	color: #1e1e1e;
	font-weight: bold;
	text-decoration: none;
}
.email-link:hover, .email-link:active {
	color: #1e1e1e;
	text-decoration: underline;
}
.logotype {padding: 10px 3.1% 21px 3.1%;}
.top-menu-wrap {width: 61%;}
.top-menu {margin-right: 42px;}
.top-menu > li > a {
	border-bottom: 4px solid transparent;
	color: #36434c;
	display: block;
	font-size: 22px;
	line-height: 40px;
	padding: 19px 1px 29px;
	text-decoration: none;
	text-transform: uppercase;

	-webkit-transition: border-color .4s, color 1s ease;
	 -khtml-transition: border-color .4s, color 1s ease;
	   -moz-transition: border-color .4s, color 1s ease;
	    -ms-transition: border-color .4s, color 1s ease;
	     -o-transition: border-color .4s, color 1s ease;
	        transition: border-color .4s, color 1s ease;
}
.top-menu > li > a.active, .top-menu > li > a:hover, .top-menu > li > a:active {
	border-bottom: 4px solid #1ec063;
	color: #1e1e1e;
}
.top-menu > li > a.active {font-weight: bold;}
.header-slider-shadow::after {
	-webkit-border-radius: 90%;
	   -moz-border-radius: 90%;
	        border-radius: 90%;
	-webkit-box-shadow: 8px 13px 15px rgba(0, 0, 0, .25);
	   -moz-box-shadow: 8px 13px 15px rgba(0, 0, 0, .25);
	        box-shadow: 8px 13px 15px rgba(0, 0, 0, .25);
	content: '';
	display: block;
	height: 10px;
	margin: -17px auto 32px auto;
	width: 75%;
}
.header-slider {
	height: 398px;
	overflow: hidden;
	position: relative;
}
.header-slider .bx-prev, .header-slider .bx-next {
	background-image: url(../images/slider-arrows.png);
	background-repeat: no-repeat;
	font-size: 0;
	height: 39px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 13px;
}
.header-slider .bx-prev {
	background-position: 0 0;
	left: 55px;
}
.header-slider .bx-next {
	background-position: -13px 0;
	right: 55px;
}
.header-slider .bx-prev:hover, .header-slider .bx-prev:active {background-position: 0 -39px;}
.header-slider .bx-next:hover, .header-slider .bx-next:active {background-position: -13px -39px;}
.wrap {padding: 0 39px 52px 39px;}
.wrap-works {padding: 0 39px 37px 39px;}
.about-us > p {padding-bottom: 0;}
.order-btn {
	background-color: #ec1e4e;
	display: inline-block;
	line-height: 40px;
	padding: 6px 24px 7px 24px;
	text-align: center;

	-webkit-transition: background-color .3s ease;
	 -khtml-transition: background-color .3s ease;
	   -moz-transition: background-color .3s ease;
	    -ms-transition: background-color .3s ease;
	     -o-transition: background-color .3s ease;
	        transition: background-color .3s ease;
}
.order-btn, .order-btn:hover, .order-btn:active {color: #fffefe;}
.order-btn:hover, .order-btn:active {background-color: #db0033;}
.slider-portfolio {
	height: 489px;
	margin-top: 20px;
	overflow: hidden;
	padding: 0 44px;
	position: relative;
}
.slider-portfolio li {
	border: 1px solid #dcdcdc;
	float: left;
	text-align: center;
}
.slider-portfolio li:first-child {margin-right: 20px;}
.slider-portfolio .bx-pager {
	margin-top: 20px;
	text-align: center;
}
.slider-portfolio .bx-pager-item {
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: inline-block;
	font-size: 0;
	height: 8px;
	margin-right: 5px;
	padding: 3px 2px;
	vertical-align: top;
	width: 10px;
}
.slider-portfolio .bx-pager-item:last-child {margin-right: 0;}
.slider-portfolio .bx-pager-link {
	background-color: #fff;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: inline-block;
	height: 8px;
	width: 8px;
}
.slider-portfolio .bx-pager-item .active {background-color: #00bd50;}
.slider-portfolio .bx-prev, .slider-portfolio .bx-next {
	border-color: #dcdcdc;
	border-style: solid;
	font-size: 0;
	height: 56px;
	margin-top: -54px;
	position: absolute;
	top: 50%;
	width: 43px;
}
.slider-portfolio .bx-prev {
	border-width: 1px 0 1px 1px;
	left: 0;
}
.slider-portfolio .bx-next {
	border-width: 1px 1px 1px 0;
	right: 2px;
}
.slider-portfolio .bx-prev::before, .slider-portfolio .bx-next::before {
	background-image: url(../images/slider-arrows.png);
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 39px;
	margin: 8px auto;
	width: 13px;
}
.slider-portfolio .bx-prev::before {background-position: 0 0;}
.slider-portfolio .bx-next::before {background-position: -13px 0;}
.slider-portfolio .bx-prev:hover::before, .slider-portfolio .bx-prev:active::before {background-position: 0 -39px;}
.slider-portfolio .bx-next:hover::before, .slider-portfolio .bx-next:active::before {background-position: -13px -39px;}
.portfolio-description {
	background-color: #f0f0f0;
	margin-top: -53px;
	padding-bottom: 5px;
	padding-top: 2px;
	position: relative;
	text-align: center;
}
.portfolio-description > a:hover, .portfolio-description > a:active {text-decoration: underline;}
.portfolio-name {
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
}
.wrap-dark {
	background-image:
		linear-gradient(#f0f0f0, #f0f0f0),
		linear-gradient(to bottom right, transparent 50.5%, #f0f0f0 50.5%),
		linear-gradient(to bottom left, transparent 50.5%, #f0f0f0 50.5%),
		linear-gradient(to top right, transparent 50.5%, #f0f0f0 50.5%),
		linear-gradient(to top left, transparent 50.5%, #f0f0f0 50.5%);
	background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
	background-position: 0 0, 9px 0, 9px 0, 9px 100%, 9px 100%;
	background-size: auto auto, 25px 25px, 25px 25px, 25px 25px, 25px 25px;
	background-clip: padding-box, border-box, border-box, border-box, border-box;
	background-origin: padding-box, border-box, border-box, border-box, border-box;
	background-color: #f0f0f0;
	background-color: hsla(0, 0%, 0%, 0);
	border-top: 15px solid transparent;
	padding: 8px 39px 52px 39px;
}
.benefits {margin-top: 33px;}
.benefit {
	font-size: 14px;
	line-height: 18px;
	padding-left: 45px;
	position: relative;
	vertical-align: top;
	width: 21.5%;
}
.benefit:nth-child(2) {width: 21%;}
.benefit:nth-child(4) {width: 19%;}
.benefit-title {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 2px;
}
.icon-star::before, .icon-key::before, .icon-manager::before, .icon-clock::before, 
.icon-target::before, .icon-business::before, .icon-tecnology::before {position: absolute;}
.icon-star::before {
	color: #1ec063;
	content: "\29";
	font-size: 34px;
	left: 0;
	top: -12px;
}
.principles > .icon-star::before {top: 3px;}
.icon-key::before {
	color: #ec1e4e;
	content: "\28";
	font-size: 30px;
	left: 4px;
	top: -10px;
}
.icon-manager::before {
	color: #1ec063;
	content: "\27";
	font-size: 34px;
	left: 2px;
	top: -12px;
}
.icon-clock::before {
	color: #ec1e4e;
	content: "\26";
	font-size: 30px;
	left: 2px;
	top: -10px;
}
.icon-target::before {
	color: #1ec063;
	content: "\23";
	font-size: 34px;
	left: 4px;
	top: 4px;
}
.icon-business::before {
	color: #ec1e4e;
	content: "\22";
	font-size: 34px;
	left: 4px;
	top: 4px;
}
.icon-tecnology::before {
	color: #ec1e4e;
	content: "\24";
	font-size: 34px;
	left: 4px;
	top: 5px;
}
.work-scheme-wrap {
	background-attachment: fixed;
	background-position: 0 50%;
	background-size: cover;
	background-image: url(../images/image_parallaks.png);
	height: 262px;
	margin-bottom: 0;
	overflow: hidden;
	text-indent: -9999px;
}
.work-scheme-title {
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	line-height: 40px;
	margin-top: 28px;
	text-indent: 0;
}
.work-scheme {
	padding: 0 116px 0 118px;
	text-indent: 0;
}
.scheme {
	counter-reset: myCounter;
	margin-top: 56px;
}
.scheme > li {
	list-style: none;
	position: relative;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	line-height: 17px;
	margin: 0;
	text-align: center;
	width: 18%;
	vertical-align: top;
}
.scheme > li::before {
	counter-increment: myCounter;
	content: counter(myCounter);
	color: #36434c;
	font-weight: bold;
	background-color: #fff;
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 23px;
	margin: 0 auto;
	width: 23px;
	height: 23px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	margin-bottom: 20px;
}
.scheme > li::after {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	content: '';
	position: absolute;
	border: 2px solid #fff;
	height: 34px;
	width: 35px;
	top: -7px;
	left: 50%;
	margin-left: -19px;
}
.scheme > li:first-child {
	margin-right: 5.1%;
	width: 7%;
}
.scheme > li:last-child {
	margin-left: 4.5%;
	width: 9%;
}
.scheme > li > span::before {
	background: #fff;
	content: '';
	height: 3px;
	top: 11px;
	left: 114px;
	position: absolute;
	width: 154px;
}
.scheme > li:first-child > span::before {
	left: 56px;
	width: 152px;
}
.scheme > li:last-child > span::before {height: 0;}
.scheme > li > span::after {
	content: '';
	width: 0;
	height: 0;
	font-size: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid #fff;
	border-bottom: 10px solid transparent;
	left: 100%;
	position: absolute;
	top: 3px;
}
.scheme > li:first-child > span::after {left: 130px;}
.scheme > li:last-child > span::after {border: none;}
.wrap-dark-bottom {
	border-bottom: 15px solid transparent;
	border-top: none;
	padding-bottom: 18px;
	padding-top: 25px;
}
.tariffs {
	margin-bottom: 40px;
	margin-top: 22px;
}
.tariff {
	background: #fff;
	position: relative;
	-webkit-flex-basis: 24%;
	-ms-flex-preferred-size: 24%;
	flex-basis: 24%;
}
.tariff-name {
	border-bottom: 5px solid #00bd50;
	font-size: 22px;
	font-weight: bold;
	line-height: 53px;
	text-align: center;
	text-transform: uppercase;
}
.tariff:nth-child(2n) .tariff-name {border-bottom-color: #ec1e4e;}
.tariff-description {
	font-size: 14px;
	line-height: 28px;
	padding: 18px 20px 8px 20px;
	text-align: center;
}
.tariff::after {
	bottom: 0;
	content: '';
	display: block;
	-webkit-border-radius: 0 0 0 278px/0 0 0 5px;
	   -moz-border-radius: 0 0 0 278px/0 0 0 5px;
	        border-radius: 0 0 0 278px/0 0 0 5px;
	-webkit-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .31);
	   -moz-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .31);
	        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .31);
	height: 6px;
	left: 0;
	position: absolute;
	right: 2px;
}
.tariff-price {
	color: #00bd50;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 11px;
}
.tariff:nth-child(2n) .tariff-price {color: #ec1e4e;}
.tariff-price > b {font-size: 36px;}
.order-btn_tariff {
	background-color: #00bd50;
	line-height: 28px;
	margin-top: 16px;
	padding: 7px 47px;
	text-decoration: none;
}
.order-btn_tariff, .order-btn_tariff:hover, .order-btn_tariff:active {color: #fff;}
.order-btn_tariff:hover, .order-btn_tariff:active {background-color: #16994d;}
.tariff:nth-child(2n) .order-btn_tariff {background-color: #ec1e4e;}
.tariff:nth-child(2n) .order-btn_tariff:hover, .tariff:nth-child(2n) .order-btn_tariff:active {background-color: #db0033;}
.more-btn {
	background-color: #f0f0f0;
	border: 1px solid #a8a8a8;
	color: #36434c;
	display: inline-block;
	line-height: 39px;
	padding: 0 28px;
	text-decoration: none;

	-webkit-transition: background-color .6s, color .6s ease;
	 -khtml-transition: background-color .6s, color .6s ease;
	   -moz-transition: background-color .6s, color .6s ease;
	    -ms-transition: background-color .6s, color .6s ease;
	     -o-transition: background-color .6s, color .6s ease;
	        transition: background-color .6s, color .6s ease;
}
.more-btn:hover, .more-btn:active {
	color: #fefefe;
	background-color: #36434c;
}
.wrap-clients {padding-bottom: 27px;}
.slider-clients {
	height: 92px;
	overflow: hidden;
	padding: 8px 81px 0 81px;
	position: relative;
}
.slider-clients .bx-prev, .slider-clients .bx-next {
	background-image: url(../images/slider-arrows.png);
	background-repeat: no-repeat;
	font-size: 0;
	height: 39px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 13px;
}
.slider-clients .bx-prev {
	background-position: 0 0;
	left: 0;
}
.slider-clients .bx-next {
	background-position: -13px 0;
	right: 0;
}
.slider-clients .bx-prev:hover, .slider-clients .bx-prev:active {background-position: 0 -39px;}
.slider-clients .bx-next:hover, .slider-clients .bx-next:active {background-position: -13px -39px;}
.slider-clients .bx-prev.disabled, .slider-clients .bx-next.disabled {display: none;}
.form-wrap {
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url(../images/image_parallaks_2.png);
	height: 460px;
	margin-bottom: 0;
	overflow: hidden;
	text-indent: -9999px;
}
.form-contact-us {
	margin: 0 auto;
	text-align: center;
	text-indent: 0;
	width: 57%;
}
.form-title {
	font-size: 35px;
	font-weight: bold;
	line-height: 40px;
	margin-top: 33px;
	padding: 0;
}
.form-text {
	font-size: 25px;
	letter-spacing: 0;
	line-height: 35px;
	margin-bottom: 26px;
}
.form-label {position: relative;}
.infield {
	color: #a9a9a9;
	left: 15px;
	position: absolute;
	top: 14px;
}
.infield_textarea {
	left: 22px;
	top: 10px;
}
.form-input, input[type="text"].form-input {
	line-height: 22px;
	margin-bottom: 9px;
	padding: 15px;
}
.form-input:last-child {margin-bottom: 0;}
.form-textarea {
	min-height: 180px;
	padding: 10px 21px;
	resize: none;
}
.submit-btn {
	background-color: #ec1e4e;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	line-height: 40px;
	margin-top: 11px;
	padding: 7px 104px;

	-webkit-transition: background-color .3s ease;
	 -khtml-transition: background-color .3s ease;
	   -moz-transition: background-color .3s ease;
	    -ms-transition: background-color .3s ease;
	     -o-transition: background-color .3s ease;
	        transition: background-color .3s ease;
}
.submit-btn, .submit-btn:hover, .submit-btn:active {color: #fffefe;}
.submit-btn:hover, .submit-btn:active {background-color: #db0033;}
.g-footer{
	border-top: 1px solid #b8b8b8;
	bottom: 0;
	height: 138px;
	position: absolute;
	width: 100%;
}
.bottom-menu-wrap {
	margin: 0 auto;
	width: 49%;
}
.bottom-menu > li > a {
	border-top-color: transparent;
	border-top-style: solid;
	border-top-width: 4px;
	color: #36434c;
	font-size: 18px;
	display: block;
	line-height: 40px;
	padding: 0 11px 5px 10px;
	text-decoration: none;
	text-transform: uppercase;

	-webkit-transition: border-color .4s, color 1s ease;
	 -khtml-transition: border-color .4s, color 1s ease;
	   -moz-transition: border-color .4s, color 1s ease;
	    -ms-transition: border-color .4s, color 1s ease;
	     -o-transition: border-color .4s, color 1s ease;
	        transition: border-color .4s, color 1s ease;
}
.bottom-menu > li > a.active {font-weight: bold;}
.bottom-menu > li > a.active, .bottom-menu > li > a:hover, .bottom-menu > li > a:active {
	border-top-color: #1ec063;
	color: #1e1e1e;
}
.footer {
	background: #f0f0f0;
	padding: 17px 31px 21px 38px;
}
.footer-contacts {
	line-height: 22px;
	margin-left: 9%;
	vertical-align: top;
	width: 75%
}
.counters {margin-left: 25px;}
.copyright {font-size: 12px;}
.breadcrumbs {
	background-color: #f4f4f4;
	padding: 0 40px;
}
.breadcrumbs a {
	font-size: 13px;
	line-height: 37px;
}
.breadcrumbs a, .breadcrumbs a:hover, .breadcrumbs a:active {color: #36434c;}
.breadcrumbs a::after {
	background: url(../images/breadcrumbs.png) no-repeat 0 0;
	content: '';
	display: inline-block;
	height: 7px;
	margin-left: 8px;
	width: 9px;
}
.content-wrap {padding: 26px 38px;}
.services {
	margin-bottom: 25px;
	margin-top: 43px;
}
.service {
	font-size: 14px;
	line-height: 18px;
	-webkit-flex-basis: 24%;
	-ms-flex-preferred-size: 24%;
	flex-basis: 24%;
}
.service > p {
	letter-spacing: 0;
	margin-bottom: 13px;
}
.service > p:last-child {margin-bottom: 7px;}
.service-title {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 13px;
	padding-left: 55px;
	position: relative;
}
.service-title > b {display: block;}
.icon-pencil::before, .icon-full::before, .icon-graph::before, .icon-support::before {
	color: #1ec063;
	font-size: 36px;
	left: 0;
	position: absolute;
	top: 2px;
}
.icon-pencil::before {
	content: "\2a";
	left: 3px;
}
.icon-full::before {content: "\28";}
.icon-graph::before {content: "\2c";}
.icon-support::before {content: "\2b";}
.order-btn_service {
	display: block;
	font-size: 16px;
	padding: 1px 0 2px 0;
}
.form-order-wrap {
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url(../images/image_parallaks_3.png);
	margin-bottom: 0;
	overflow: hidden;
	text-indent: -9999px;
}
.form-order {
	margin: 0 auto;
	text-align: center;
	text-indent: 0;
	width: 70%;
}
.form-title_order {
	font-size: 28px;
	margin-bottom: 30px;
	margin-top: 29px;
}
.attach-file {
	background: #fff;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
	color: #646464;
	font: normal 16px/22px 'Open Sans', Tahoma, Verdana, Arial, sans-serif;
	padding: 15px;
	position: relative;
	text-align: left;
}
.attach-file > span {
	color: #ec1e4e;
	padding-right: 4px;
	text-decoration: underline;
}
.form-input-file {
	cursor: pointer;
	height: 54px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.submit-btn_order {
	margin-bottom: 47px;
	margin-top: 22px;
	padding: 5px 115px 6px 115px;
}
.attached-files > div {
	background: #fff;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
	color: #646464;
	font: normal 16px/22px 'Open Sans', Tahoma, Verdana, Arial, sans-serif;
	margin-top: 5px;
	padding: 9px 15px;
	position: relative;
	text-align: left;
}
.file-name {
	background: url(../images/attached-file.png) no-repeat 0 4px;
	color: #1e1e1e;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 4px;
}
.file-size {color: #36434c;}
.file-delete {
	background: url(../images/close.png) no-repeat 0 0;
	height: 20px;
	width: 20px;
}
.file-delete:hover, .file-delete:active {background-position: 0 -20px;}
.wrap-activities {
	background: url(../images/activities.png) no-repeat 0 0;
	margin-top: 13px;
	min-height: 147px;
	padding: 42px 39px 35px 39px;
	position: relative;
	z-index: 10;
}
.activities {margin-top: 28px;}
.activity {
	background-color: #fff;
	border-top: 5px solid #00bd50;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	padding: 6px 0 7px 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;

	-webkit-flex-basis: 24%;
	-ms-flex-preferred-size: 24%;
	flex-basis: 24%;
}
.activity::before {
	bottom: 0;
	content: '';
	display: block;
	-webkit-border-radius: 0 0 0 278px/0 0 0 5px;
	   -moz-border-radius: 0 0 0 278px/0 0 0 5px;
	        border-radius: 0 0 0 278px/0 0 0 5px;
	-webkit-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .31);
	   -moz-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .31);
	        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .31);
	height: 6px;
	left: 0;
	position: absolute;
	right: 2px;
}
.activity::after {
	background-color: #fff;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	content: '';
	height: 12px;
	position: absolute;
	right: -14px;
	top: 20px;
	width: 12px;
}
.activity:last-child::after {
	height: 0;
	width: 0;
}
.wrap-benefits {
	background: #f0f0f0;
	margin-bottom: 29px;
	margin-top: -20px;
	padding: 58px 39px 37px 39px;
	position: relative;
	z-index: 0;
}
.principles {margin-top: 14px;}
.principle {
	padding-left: 49px;
	width: 21%;
}
.content-wrap_tariffs {padding-bottom: 38px;}
.wrap-tariffs {
	background: url(../images/tariffs-wrap.png) no-repeat 0 0;
	padding: 14px 39px 9px 39px;
	position: relative;
	z-index: 10;
}
.tariff-list {
	margin-bottom: 9px;
	min-height: 196px;
}
.form-order-tariffs {
	background-color: #f0f0f0;
	margin-top: -39px;
	padding-top: 41px;
	position: relative;
	z-index: 0;
}
.fancy-form {
	background-color: #f0f0f0;
	padding: 10px 128px;
}
.fancybox-close_form {
	background: url(../images/close.png) no-repeat 0 0;
	height: 20px;
	top: 21px;
	right: 29px;
	width: 20px;
}
.fancybox-close_form:hover, .fancybox-close_form:active {background-position: 0 -20px;}
.fancy-form-title {
	border-bottom: 1px solid #c1c1c1;
	font-size: 28px;
	letter-spacing: 0;
	line-height: 35px;
	margin-bottom: 15px;
	padding-bottom: 6px;
	text-align: center;
}
.necessarily {
	color: #ec1e4e;
	font-size: 14px;
}
.fancy-form-input, input[type="text"].fancy-form-input {
	border-color: #c1c1c1;
	margin-bottom: 12px;
	margin-top: 5px;
	padding: 7px 10px;
}
.attach-file_fancy, .fancy-form-textarea {
	border-color: #c1c1c1;
	padding: 7px 10px;
}
.attach-file_fancy {padding-left: 18px;}
.fancy-form-textarea {
	margin-bottom: 5px;
	margin-top: 6px;
	min-height: 157px;
	resize: none;
}
.attached-files_fancy > div {padding: 7px 8px 7px 10px;}
.submit-btn_fancy {margin-bottom: 15px;}
.contacts {
	margin-bottom: 15px;
	margin-top: 24px;
}
.contacts > div:nth-child(2) {width: 15%;}
.contacts > div:last-child {width: 32%;}
.contact {
	color: #1ec063;
	font-weight: bold;
	line-height: 22px;
}
.link-email {
	color: #1e1e1e;
	text-decoration: underline;
}
.link-email:hover, .link-email:active {
	color: #1e1e1e;
	text-decoration: none;
}
.form-email-us {
	background-color: #f0f0f0;
	padding-top: 26px;
}
.form-title_email-us {
	font-size: 28px;
	margin-top: 0;
}
.portfolio {margin-top: 48px;}
.portfolio > li {
	border: 1px solid #dcdcdc;
	margin-bottom: 39px;
	overflow: hidden;
	position: relative;
	-webkit-flex-basis: 48.5%;
	-ms-flex-preferred-size: 48.5%;
	flex-basis: 48.5%;
}
.portfolio > li:hover .portfolio-description {opacity: 0;}
.portfolio-full-description {
	background: rgba(240, 240, 240, .95);
	bottom: 0;
	left: 0;
	opacity: 0;
	right: 0;
	position: absolute;
	text-align: center;
	top: 0;

	-webkit-transition: opacity .35s ease;
	 -khtml-transition: opacity .35s ease;
	   -moz-transition: opacity .35s ease;
	    -ms-transition: opacity .35s ease;
	     -o-transition: opacity .35s ease;
	        transition: opacity .35s ease;
}
.portfolio > li:hover .portfolio-full-description {opacity: 1;}
.portfolio-full-description > div {margin: auto;}
.content-wrap_portfolio {padding-bottom: 8px;}
.address-wrap {
	background: url(../images/map-wrap.png) no-repeat 0 0;
	color: #fff;
	display: block;
	font-size: 27px;
	left: 0;
	line-height: 34px;
	padding: 14px 60px 16px 39px;
	position: absolute;
	top: 77px;
}
.phone {
	color: #1e1e1e;
	display: block;
	font-size: 30px;
	margin-bottom: 19px;
}
.address {
	display: block;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: -8px;
}
.subway {
	font-size: 16px;
	line-height: 20px;
	margin-right: 11px;
}
.subway::before {
	border: 1px solid #fff;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	content: 'м';
	display: inline-block;
	height: 20px;
	line-height: 18px;
	margin-right: 8px;
	text-align: center;
	width: 20px;
}
.map {text-decoration: none;}
.b-mobile-open_more, #b-mobile_menu-content, .b-mobile_menu, .h-mobile_menu-desktop, .b-mobile_menu-button {display: none;}
.b-mobile_menu {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 7px rgba(1, 2, 3, .41);
	   -moz-box-shadow: 0 1px 7px rgba(1, 2, 3, .41);
	        box-shadow: 0 1px 7px rgba(1, 2, 3, .41);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	left: 0;
	padding: 8px 11px 10px 11px;
	position: fixed;
	width: 100%;
	z-index: 1200;
}
.b-mobile_menu a {
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
}
.h-mobile_menu-switch {margin: 0 60px;}
.f-mobile_menu-up {color: #c2c2c2 !important;}
.f-mobile_menu-up-active {
	color: #00bd50 !important;
	cursor: pointer;
}
.f-mobile_menu-link {color: #ec1e4e !important;}